name: CI Pipeline
true:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/check
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install Dependencies
      run: 'python -m pip install --upgrade pip

        pip install -r requir

        '
    - name: Run Tests
      run: 'export PYTHONPATH="${PYTHPATH}:$(pwd)"

        pytest tests/ -v

        '
'on':
  push:
    branches:
    - main
